main {
  display: flex;
  justify-content: center;
}
ul{
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 12px;
}

li{
  margin-left: 75px;
}

#game_area {
  height: 500px;
  width: 500px;
  display:flex;
  flex-wrap: wrap;
}

#score_board{
  height: 100px;
  width: 200px;
  border: black 1px solid;
  margin: 10px;
  background: beige;
  list-style: none;

}

.box {
  border: black 1px solid;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: beige;
}

#resetButton {
  display: inline-block;
  float: right;
}
