main {
  display: flex;
  justify-content: center;
}

#game_area {
  height: 500px;
  width: 500px;
  display:flex;
  flex-wrap: wrap;
}

#score_board{
  height: 100px;
  width: 200px;
  border: black 1px solid;

}

.box {
  border: black 1px solid;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: white;
}

#resetButton {
  display: inline-block;
  float: right;
}
