.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.brown {
  background-color: brown;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.cyan {
  background-color: cyan;
}

.bio {
  height: 320px;
  margin: 20px 0px;
  border: 1px solid black;
}

#aboutUsHeader {
  text-align: center;
}

#aboutUsHeader > h1 {
  font-size: 40px;
}

.bio > img, p {
  float: left;
  height: 300px;
}

.bio > img {
  margin: 10px;
}

.bio > p {
  width: 500px;
  margin-left: 50px;
}

.page {
  background-image: url("img/wallpaper2.png");
  background-repeat: no-repeat;
  background-color: maroon;
}
.page_title {
  display: flex;
  justify-content: center;
  color: beige;
  font-size: 60px;

}
.nav_bar {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

}
.button {
  width: 100px;
  height: 50px;
  padding-top: 10px;
  border-radius: 10px;
  background-color: beige;
  color: black;
  font-size: 18px;
  text-align: center;
}
